@charset "UTF-8";

/* 1. Configuration and helpers */
@import
  "abstracts/variables",
  "abstracts/functions",
  "abstracts/reset",
  "abstracts/mixins",
  "abstracts/placeholders";

/* 2. Vendors */

/* 3. Base stuff */
@import
  "base/base",
  "base/grid",
  "base/fonts",
  "base/groups",
  "base/helpers",
  "base/typography";

/* 4. Layout-related sections */
@import
  "layout/header",
  "layout/footer";

/* 5. Components */
@import
  "components/button",
  "components/forms";

/* 6. Page-specific styles */
@import
  "pages/home";

/* 7. Themes */
@import
  "themes/default";
