// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// NOTE: Typography Variables
$html-font-size: 16px;
// **** Font Stack
$font-primary: 'Montserrat', sans-serif !default;
$font-headings: 'Montserrat', sans-serif !default;
// $font-second: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

// **** Font sizing and styling
$base-font-size: 13px;
$font-size-jumbo: 37px;
$font-size-title: 37px;
$font-size-xxl: 28px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-m: 15px;
$font-size-s: 14px;
$font-size-xs: 13px;


$text-font-size: calc-rem($base-font-size);
$text-line-height: 2.2;
$text-font-weight: 400;
$text-baseline: calc-rem(30px);

$heading-line-height: normal;
$heading-font-weight: 700;
$heading-baseline: 1.5em;

$a-font: normal calc-rem($base-font-size) $font-primary;
$a-mb: $text-baseline;

// NOTE: Color variables

$color-primary: #35174d;
$color-secondary: #ff7582;
$color-initial: #fff;

$hr-color: #000;
$bg-color-primary: #fff;
$bg-color-second: #12464f;
$bg-color-alternative: #0c868c;

$bg-color-loud: pink;
$bg-color-quiet: grey;

$border-color: #ededed;
$border-color-focus: gold;
$border-color-loud: pink;
$border-color-quit: grey;


// **** Font Colors
$text-color: #707070;
$text-color-second: #693388;
$text-color-alternative: #fff;

$heading-color: #693388;
$heading-color-alternative: #fff;

$cta-color: #ff7582;
$marker-color: yellow;

$a-color: #707070;
$a-hover-color: darken($a-color, 60);


// NOTE: Sources
$base-url: "../images" !default;
$fonts: "../fonts/";

// NOTE: Grid Variables

// Sizes
$extra-small-device: 576px;
$small-device: 768px;
$medium-device: 992px;
$large-device: 1200px;
$extra-large-device: 1440px;
$full-size-device: 1600px;

//Gutters
$containerGutter: 60px;
$containerGutterMedium: 30px;
$containerGutterSmall: 20px;
$containerGutterExtraSmall: 15px;

/// Container"s maximum width
$max-width: 1420px !default;

// Bootstrap editing
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px) !default;

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$gap: 15px;
