.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .btn {
    width: 100%;
  }
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  &--full-width {
    width: 100%;
  }

  > .btn {
    position: relative;
    flex: 0 1 auto;
    margin-left: $btn-group-horizontal-space;
    margin-bottom: $btn-group-vertical-space;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
