// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  outline: none;
  transition: $btn-transition;
  background-color: $btn-bg-color;
  color: $btn-text-color;
  
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-font-weight, $btn-line-height, $btn-border-radius, $enable-rounded);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $disabled-opacity;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &--block {
    display: block;
    width: 100%;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}

.btn-link {
  font-weight: $link-font-weight;
  color: $link-color;
  background-color: transparent;
  border: none;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $link-disabled-color;
    pointer-events: none;
  }
}
