// Form

.input {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: $input-color-bg;
  color: $input-color-text;
  border: $input-border-width $input-color-border;
  box-shadow: none;
  box-sizing: inherit;
  height: auto;
  display: inline-block;

  @include input-size($input-padding-y, $input-padding-x, $input-font-size, $input-font-weight, $input-line-height, $input-border-radius);

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: 0;
  }

  &--lg {
    @include input-size($input-padding-y-lg, $input-padding-x-lg, $input-font-size-lg, $input-font-weight-lg, $input-line-height-lg, $input-border-radius);
  }

  &--sm {
    @include input-size($input-padding-y-sm, $input-padding-x-sm, $input-font-size-sm, $input-font-weight-sm, $input-line-height-sm, $input-border-radius);
  }

  &--block {
    display: block;
    width: 100%;
  }

  @include placeholder {
    color: $input-color-placeholder;
  }
}

textarea {
  @extend .input;

  padding: 1.5rem 2rem;
  border-radius: 20px;

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: 0;
  }
}

label {
  font-weight: bold;
  color: $color-primary;
}

select {
  @extend .input;

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: 0;
  }
}
