@mixin button-size($padding-y, $padding-x, $font-size, $btn-font-weight, $line-height, $border-radius, $enable-rounded) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $btn-font-weight;
  // config in variables/helpers
  @if $enable-rounded {
    border-radius: $border-radius;
  } @else {
    border-radius: 0;
  }
}
