%text-black {
  font-weight: 800;
}

%text-bold {
  font-weight: 600;
}

%text-normal {
  font-weight: 500;
}

%text-medium {
  font-weight: 400;
}

%text-light {
  font-weight: 300;
}

%uppercase {
  text-transform: uppercase;
}

%lowercase {
  text-transform: lowercase;
}

%text-center {
  text-align: center;
}

%text-left {
  text-align: left;
}

%text-right {
  text-align: right;
}

%parent-size {
  font-size: inherit;
}

%hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto
}
