// -- Text
$color-primary: #35174d;
$color-second: #ff7582;

$heading-color: #693388;
$heading-color-second: #fff;

$link-color: red;
$link-hover-color: green;

$disabled-color: grey;
$disabled-opacity: 0.8;

// -- Elements
$bg-color-primary: #fff;
$bg-color-second: #12464f;

$border-color: #ededed;
$border-color-focus: gold;

//-- Buttons
$btn-color-bg: red;
$btn-color-text: #fff;
$btn-color-border: blue;

// -- Inputs
$input-color-bg: red;
$input-color-text: #fff;
$input-color-border: blue;
$input-color-focus: pink;
$input-color-placeholder: yellow;
