// -- Text
$text-color: #35174d;
$text-color-second: #ff7582;

$heading-color: #693388;
$heading-color-second: #fff;

$link-color: red;
$link-hover-color: green;

// -- State 
$highlight-color: gold;
$succes-color: green;
$error-color: red;
$alert-color: yellow;

// -- Elements
$bg-color: #fff;
$bg-color-second: #12464f;

$border-color: #ededed;
$border-color-focus: gold;

//-- Buttons
$btn-bg-color: red;
$btn-text-color: #fff;
$btn-border-color: blue;

// -- Inputs
$input-bg-color: red;
$input-text-color: #fff;
$input-border-color: blue;
$input-focus-color: pink;
$input-placeholder-color: yellow;
