$color-primary: #35174d;
$color-secondary: #ff7582;
$color-initial: #fff;

$hr-color: #000;
$bg-color-primary: #fff;
$bg-color-second: #12464f;
$bg-color-alternative: #0c868c;

$bg-color-loud: pink;
$bg-color-quiet: grey;

$border-color: #ededed;
$border-color-focus: gold;
$border-color-loud: pink;
$border-color-quit: grey;

//--Fonts
$text-color: #707070;
$text-color-second: #693388;
$text-color-alternative: #fff;

$heading-color: #693388;
$heading-color-alternative: #fff;

$cta-color: #ff7582;
$marker-color: yellow;

$a-color: #707070;
$a-hover-color: darken($a-color, 60);

$link-color: red;
$link-hover-color: green;
$link-disabled-color: grey;

//-- Buttons
$btn-color-bg: red;
$btn-color-text: #fff;
$btn-color-border: blue;

$btn-disabled-opacity: 0.75;
$btn-active-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$btn-focus-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$btn-disabled-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);

// -- Inputs
$input-color-bg: red;
$input-color-text: #fff;
$input-color-border: blue;
$input-color-state-focus: pink;
$input-color-placeholder: yellow;

$input-disabled-opacity: 0.75;
$input-active-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$input-focus-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$input-disabled-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);