/// Container"s maximum width
$max-width: 1210px !default;

// -- Resposive sizes
$extra-small-device: 576px;
$small-device: 768px;
$medium-device: 992px;
$large-device: 1200px;
$extra-large-device: 1440px;
$full-size-device: 1600px;

//Gutters
$gutter: 16px;
$containerGutter: 32px;
$containerGutterMedium: 24px;
$containerGutterSmall: 16px;
$containerGutterExtraSmall: 10px;
