//-- Transitions
$btn-transition: opacity 200ms ease;
$input-transition: opacity 200ms ease;

//-- Groups
$btn-group-horizontal-space: 1rem;
$btn-group-vertical-space: 1rem;
$input-group-horizontal-space: 1rem;
$input-group-vertical-space: 1rem;

//-- Config
$enable-rounded: true;
$input-enable-rounded: true;