//-- Transitions
$transition-opacity: opacity 200ms ease;
$btn-transition: transform 200ms ease;

//-- Config
$enable-rounded: true;
$input-enable-rounded: true;

//-- Utils
$disabled-opacity: 0.8;

// -- global radius
$border-radius: 10px;
