//-- Sizing
$input-font-size: 1rem;
$input-font-weight: 500;
$input-padding-y: 1em;
$input-padding-x: 2em;
$input-line-height: normal;
$input-border-radius: 0;
$input-border-width: 1px solid;

$input-padding-y-lg: 1em;
$input-padding-x-lg: 2em;
$input-font-size-lg: 2rem;
$input-font-weight-lg: 500;
$input-line-height-lg: normal;

$input-padding-y-sm: 1em;
$input-padding-x-sm: 2em;
$input-font-size-sm: 0.8rem;
$input-font-weight-sm: 500;
$input-line-height-sm: normal;

//--Colors
$input-color-bg: red;
$input-color-text: #fff;
$input-color-border: blue;
$input-color-state-focus: pink;
$input-color-placeholder: yellow;

//--States and decors
$input-disabled-opacity: 0.75;
$input-active-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$input-focus-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$input-disabled-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);

//-- Transitions
$input-transition: opacity 200ms ease;

//-- Groups

$input-group-horizontal-space: 1rem;
$input-group-vertical-space: 1rem;

//-- Config
$input-enable-rounded: true;