// -- Grid
$layout-max-width: 1210px !default;

// -- Resposive Breakpoints
$xs-device: 576px;
$sm-device: 768px;
$md-device: 992px;
$lg-device: 1200px;
$xl-device: 1440px;
$xxl-device: 1600px;

// -- Gutters
$gutter: 16px;
$xs-gutter: $gutter * 0.25;
$sm-gutter: $gutter * 0.5;
$md-gutter: $gutter * 1;
$lg-gutter: $gutter * 1.5;
$xl-gutter: $gutter * 2;
$xxl-gutter: $gutter * 3;

// -- Buttons
$btn-font-size: 1rem;
$btn-font-weight: 500;
$btn-padding-y: 1em;
$btn-padding-x: 2em;
$btn-line-height: normal;
$btn-border-radius: 0;
$btn-border-type: 1px solid;

// ---- Optional
$btn-padding-y-lg: 1em;
$btn-padding-x-lg: 2em;
$btn-font-size-lg: 2rem;
$btn-font-weight-lg: 500;
$btn-line-height-lg: normal;

$btn-padding-y-sm: 1em;
$btn-padding-x-sm: 2em;
$btn-font-size-sm: 0.8rem;
$btn-font-weight-sm: 500;
$btn-line-height-sm: normal;

//-- Buttons groups
$btn-group-horizontal-space: 1rem;
$btn-group-vertical-space: 1rem;
$input-group-horizontal-space: 1rem;
$input-group-vertical-space: 1rem;

// -- Inputs
$input-font-size: 1rem;
$input-font-weight: 500;
$input-padding-y: 1em;
$input-padding-x: 2em;
$input-line-height: normal;
$input-border-radius: 0;
$input-border-width: 1px solid;

// ---- Optional
$input-padding-y-lg: 1em;
$input-padding-x-lg: 2em;
$input-font-size-lg: 2rem;
$input-font-weight-lg: 500;
$input-line-height-lg: normal;

$input-padding-y-sm: 1em;
$input-padding-x-sm: 2em;
$input-font-size-sm: 0.8rem;
$input-font-weight-sm: 500;
$input-line-height-sm: normal;

// Borders
$border-width: 1px;

// Bootstrap variables editing
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px) !default;

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$gap: 15px;
