$base-font-size: 16px;

$font-size-primary: 21px;
$font-size-jumbo: 37px;
$font-size-title: 37px;
$font-size-xxl: 28px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-m: 15px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-xxs: 13px;

$font-primary: 'Montserrat', sans-serif !default;
$font-headings: 'Montserrat', sans-serif !default;
$font-second: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

//-- Texts
$text-line-height: 1.5;
$text-font-weight: 400;
$text-baseline: 1.5em;

//-- Headings
$heading-line-height: normal;
$heading-font-weight: 700;
$heading-baseline: 1.5em;

//-- Hrefs
$a-font: $font-primary;
$a-mb: $text-baseline;

$link-line-height: normal;
$link-font-weight: 500;
$link-hover-decoration: none;
