.container {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: calc-rem($containerGutterSmall); /* 3 */
  padding-right: calc-rem($containerGutterSmall);
  width: 100%; /* 1 */

  @include rwdm($medium-device) {
    padding-left: calc-rem($containerGutterSmall); /* 3 */
    padding-right: calc-rem($containerGutterSmall);
  }

  @include rwdm($large-device) {
    padding-left: calc-rem($containerGutterMedium); /* 3 */
    padding-right: calc-rem($containerGutterMedium);
  }

  @include rwdm($full-size-device) {
    padding-left: calc-rem($containerGutter); /* 3 */
    padding-right: calc-rem($containerGutter);
  }
}

.row {
  @extend %row;
}

.column {
  flex: 1;
}
