/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 *
 * See http://modularscale.com for
 *
 */

 html {
  font-size: 100%;
}

body {
  @include css-lock($min-size: calc-irem($base-font-size*0.8), $max-size: calc-irem($base-font-size), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);

  color: $text-color;
  font-family: $font-primary;
  line-height: $text-line-height;
  font-weight: $text-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

/*** Paragraphs */
p {
  font: normal inherit $font-primary;
  margin-top: 0;
  margin-bottom: $text-baseline;
}

span {
  font-size: inherit;
}

/*** Forms */
input,
textarea,
select {
  font-family: $font-primary;

  @include placeholder {
    font-family: $font-primary;
  }
}

/*** urls */
a {
  font-family: $a-font;
  margin-top: 0;
  font-size: inherit;
  margin-bottom: $a-mb;
  color: $a-color;
  transition: color 200ms ease;

  @include on-event {
    color: $a-hover-color;
    text-decoration: underline;
  }
}

/*** Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-headings;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  margin-bottom: $heading-baseline;
}

// Use the helper classes to emulate styles for another element
h1,
.alpha {
  @include css-lock($min-size: calc-irem($font-size-title/3), $max-size: calc-irem($font-size-title), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h2,
.beta {
  @include css-lock($min-size: calc-irem($font-size-xxl/3), $max-size: calc-irem($font-size-xxl), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h3,
.gamma {
  @include css-lock($min-size: calc-irem($font-size-xl/1.5), $max-size: calc-irem($font-size-xl), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h4,
.delta {
  @include css-lock($min-size: calc-irem($font-size-l/1.2), $max-size: calc-irem($font-size-l), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h5,
.epsilon,
h6,
.zeta {
  font-size: calc-rem($font-size-m);
}

// Only give these headings a margin-top if they are after other elements
* + h1,
* + .h1,
* + .alpha,
* + h2,
* + .h2,
* + .beta,
* + h3,
* + .h3,
* + .gamma,
* + h4,
* + .h4,
* + .delta {
  margin-top: $heading-baseline;
}

small {
  font-size: calc-rem($font-size-xs);
}

/**
 * Miscellaneous
 */

// Emphasis
strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

/**
 * Blockquotes
 */
blockquote {
  padding-left: 10px;

  p {
    margin-bottom: 0;
    font-weight: 300;
  }

  small {
    display: block;
    color: lighten(#000, 70%);

    &::before {
      content: "\2014 \00A0";
    }
  }
}

// Quotes
q,
blockquote {
  &::before,
  &::after {
    content: "";
  }
}

cite {
  font-style: normal;
}

// Addresses styling not present in S5, Chrome
dfn {
  font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
  background: $marker-color;
  padding: 2px 4px;
  border-radius: 3px;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Horizontal rules
hr {
  // margin: calc-rem($text-baseline) 0;
  border: 0;
  height: 1px;
  background-color: $hr-color;
}
