/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 *
 * See http://modularscale.com for
 *
 */

 html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $color-primary;
  font-family: $body-font-family;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &.active {
    color: $link-color-dark;
    text-decoration: underline;
  }

  @include on-event {
    color: $link-color-dark;
    text-decoration: underline;
  }

  &:visited {
    color: $link-color-light;
  }
}

p {
  font-family: inherit;
  margin-bottom: $text-baseline;
  margin: 0 0 $text-baseline;
}

input,
textarea,
select {
  font-family: $font-primary;

  @include placeholder {
    font-family: $font-primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $heading-baseline;
}

.jumbo {
  @include css-lock($min-size: calc-irem($font-size-jumbo * 0.7), $max-size: calc-irem($font-size-jumbo), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h1,
.alpha {
  @include css-lock($min-size: calc-irem($font-size-alpha * 0.7), $max-size: calc-irem($font-size-alpha), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h2,
.beta {
  @include css-lock($min-size: calc-irem($font-size-beta * 0.7), $max-size: calc-irem($font-size-beta), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h3,
.gamma {
  @include css-lock($min-size: calc-irem($font-size-gamma * 0.7), $max-size: calc-irem($font-size-gamma), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h4,
.delta {
  @include css-lock($min-size: calc-irem($font-size-delta * 0.7), $max-size: calc-irem($font-size-delta), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h5,
.epsilon {
  @include css-lock($min-size: calc-irem($font-size-epsilon * 0.7), $max-size: calc-irem($font-size-epsilon), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

h6,
.zeta {
  @include css-lock($min-size: calc-irem($font-size-zeta * 0.7), $max-size: calc-irem($font-size-zeta), $min-width: 20, $max-width: 100, $property: font-size, $unit: rem);
}

// Only give these headings a margin-top if they are after other elements
* + h1,
* + .h1,
* + .alpha,
* + h2,
* + .h2,
* + .beta,
* + h3,
* + .h3,
* + .gamma,
* + h4,
* + .h4,
* + .delta {
  margin-top: $heading-baseline;
}

// Semantic text elements
small {
  font-size: calc-rem($font-size-xsmall);
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

kbd {
  border-radius: $border-radius;
  line-height: 1.25;
  padding: .1rem .2rem;
  background: $bg-color;
  color: $color;
}

mark {
  background: $bg-color;
  color: $color;
  border-bottom: $unit-o solid darken($highlight-color, 15%);
  border-radius: $border-radius;
  padding: $unit-o $unit-h 0;
}

// Blockquote
blockquote {
  border-left: $border-width solid $border-color;
  margin-left: 0;
  padding: 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}

// Lists
ul,
ol {
  margin: $unit-4 0 $unit-4 $unit-4;
  padding: 0;

  ul,
  ol {
    margin: $unit-4 0 $unit-4 $unit-4;
  }

  li {
    margin-top: $unit-2;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: $unit-2 0 $unit-4 0;
  }
}
